<h2>Featured Product:</h2>

<div class="feat_product">
  <div class="row">
    <div class="col-sm-6">
      <%= image_tag(@featured_product.image_url, size: "400x400", class: "img-responsive p_img") %>
    </div>
    <div class="col-sm-6 feat_desc_box">
      <p><%= @featured_product.name %></p>
      <p><%= @featured_product.description %></p>
      <p>€ <%= @featured_product.price %></p>
    </div>
  </div>
</div>
