<h2>Featured Product:</h2>

<div class="feat_product">
  <%= image_tag(@featured_product.image_url, size: "400x400", class: "img-responsive p_img") %>
  <p><%= @featured_product.name %></p>
  <p><%= @featured_product.description %></p>
  <p>€ <%= @featured_product.price %></p>
</div>
