// Place all the styles related to the static_pages controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

@import 'variables';


h1, h3 {
  font-family: $poiret-font;
  color: $black;
  text-align: center;
  margin-bottom: 20px;
}

h1 {
  font-size: 3em;
}

nav {
  font-family: $muli-font;
}

p {
  font-family: $acme-font;
}

// Carousel

.carousel-inner .item {
  max-height: 400px;
  max-width: 400px;
}

.carousel-caption {
  position: absolute;
  top: 85%;
  color: $black;
  font-size: 1.5em;
}
