// Place all the styles related to the static_pages controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

@import url('https://fonts.googleapis.com/css?family=Encode+Sans+Expanded|Lato|Varela+Round|Mukta+Malar|Magra|Muli|Acme');

$black: #262525;
$baby-powder: #FCFCFC;
$snow: #FFFCF9;
$footer: #F8F8F8;

$heading: 'Magra', sans-serif;
$navigation: 'Muli', serif;
$body: 'Acme', serif;

html {
  position: relative;
  min-height: 100%;
}
html, body {
  background-color: $baby-powder;
  height: 100%;
}

// body {
//   /* Margin bottom by footer height */
//   margin-bottom: 60px;
// }

h1, h3 {
  font-family: $heading;
  color: $black;
  text-align: center;
  margin-bottom: 15px;
}

h1 {
  font-size: 3em;
}

nav {
  font-family: $navigation;
}

p {
  font-family: $body;
}

// Navbar

.navbar-brand {
  padding: 4px 15px;
}

.navbar-header {
  background-color: $baby-powder;
}

// Footer

footer {
  position: absolute;
  bottom: 0;
  width: 100%;
  height: 60px;
  background-color: $footer;

  p {
    padding-top: 18px;
    font-size: 1.1em;
  }
}
