// Place all the styles related to the static_pages controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

$black: #262525;
$baby-powder: #FCFCFC;
$snow: #FFFCF9;

$sans-serif: Futura, sans-serif;
$serif: Georgia, serif;

html, body {
  background-color: $baby-powder;
  height: 100%;
}

h1, h2 {
  font-family: $sans-serif;
  color: $black;
  text-align: center;
}

p {
  font-family: $serif;
}

// Navbar

.navbar-brand {
  padding: 4px 15px;
}

.navbar-header {
  background-color: $baby-powder;
}
