$black: #262525;
$baby-powder: #FCFCFC;
$snow: #FFFCF9;
$footer: #F8F8F8;
$pink: #E85C9E;
$blue: #26547C;
$caribe: #00FFF5;

$heading: 'Magra', sans-serif;
$navigation: 'Muli', serif;
$body: 'Acme', serif;

@import url('https://fonts.googleapis.com/css?family=Encode+Sans+Expanded|Lato|Varela+Round|Mukta+Malar|Magra|Muli|Acme|Poiret+One');
