$black: #262525;
$baby-powder: #FCFCFC;
$snow: #FFFCF9;
$light-grey: #F8F8F8;
$pink: #f466a9;
$blue: #26547C;
$caribe: #00FFF5;

$poiret-font: 'Poiret One', sans-serif;
$muli-font: 'Muli', serif;
$acme-font: 'Acme', serif;
